{% extends 'base.html' %}
{% load static %}
{#{% load utility_tags %}#}

{% block content %}
    <section class="h-100 h-custom">
        <div class="container py-2 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                             alt="Sample photo" src={% static '/assets/img/add-password.png' %}>
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Add new password</h3>
                            {% if messages %}
                                <div class="alert alert-primary" role="alert">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                        {% if user.is_authenticated %}
                            <form method="POST" action="/add-password/" class="px-md-2">
                                {% csrf_token %}
                                
                                <!-- email -->
                                
                                <div class="form-floating mb-4">
                                    {{ form.email }}
                                    <label for="{{ form.email.id_for_label }}">
                                        {{ form.email.label }}
                                        <span class="text-muted small">(Required)</span>
                                    </label>
                                </div>
                                
                                <!-- username -->
                               <div class="form-floating mb-4">
                                    {{ form.username }}
                                    <label for="{{ form.username.id_for_label }}">
                                        {{ form.username.label }}
                                    </label>
                                </div>
                                
                                <!-- password -->
                                <div class="input-group mb-4">
                                    <div class="form-floating">
                                        {{ form.password }}
                                        <label for="{{ form.password.id_for_label }}">Password</label>
                                    </div>
                                    <button type="button" id="generate-password-button" class="btn btn-primary" onclick="generatePasswordHandler()">
                                        Generate
                                    </button>
                                </div>
                                <div class="form-floating mb-4">
                                    {{ form.application_type }}
                                    <label for="{{ form.application_type.id_for_label }}">
                                        {{ form.application_type.label }}
                                        <span class="text-muted small">(Required)</span>
                                    </label>
                                </div>
                                
                                <div class="form-floating mb-4">
                                    {{ form.application_name }}
                                    <label for="{{ form.application_name.id_for_label }}">
                                        {{ form.application_name.label }}
                                    </label>
                                </div>

                                <button type="submit" class="btn btn-success btn-md mb-1">Submit</button>
                            </form>
                        {% else %}
                            <h1> Please Login/Register</h1>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}